body{
  height: 800px;
  width: 800px;
  background-image: linear-gradient(to top right, red, white);

}
.satu{
  height: 400px;
  width: 600px;
  margin: 0, auto;
  background-image: radial-gradient(circle at bottom, white, blue);
  margin-left: 560px;
}
.dua{
  height: 200px;
  width: 600px;
  margin: 0, auto;
  background-image: radial-gradient(circle at left, white, blue, white);
  margin-left: 560px;
}
